<h1>Receipt</h1>

<%= form_tag({:action => :upload}, :multipart => true) do  %>
  <%= file_field_tag :basket_data %>
  <%= button_tag 'Upload', type: :submit %>
<% end %>

<h2>Your Past Receipts</h2>
<% if @orders.any? %>
<% @orders.each do |order| %>
  <%= link_to "Number #{order.id}", order %><br/>
<% end %>
<% else %>
  <div>Upload your order to create a receipt</div>
<% end %>
